@tailwind base;

@layer base {
  h1 {
    @apply text-2xl;
    @apply tracking-wide;
    @apply font-round;
    @apply text-6xl;
    @apply leading-[5rem];
  }
  h2 {
    @apply text-xl;
    @apply tracking-wide;
    @apply font-round;
  }
  h3 {
    @apply text-lg;
    @apply font-round;
  }
  a,
  p {
    @apply font-work;
  }
  a {
    @apply text-blue-600 underline;
  }
}

@tailwind components;
@tailwind utilities;

::-moz-selection {
  /* Code for Firefox */
  color: #f3f3f3;
  background: #006992;
}

::selection {
  color: #f3f3f3;
  background: #006992;
}

pre {
  max-width: 90vw !important;
  overflow: scroll !important;
  padding: 20px !important;
  overflow-wrap: break-word !important;
}

code {
  overflow-wrap: break-word !important;
}

html,
body {
  background-color: #faf9f6;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Special styling for WebKit/Blink */
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: rgb(236, 100, 26);
}
