@tailwind base;

@layer base {
  h1 {
    @apply text-2xl;
    @apply tracking-wide;
    @apply font-round;
    @apply text-6xl;
    @apply leading-[5rem];
  }
  h2 {
    @apply text-xl;
    @apply tracking-wide;
    @apply font-round;
  }
  h3 {
    @apply text-lg;
    @apply font-round;
  }
  a,
  p {
    @apply font-work;
  }
  a {
    @apply text-blue-600 underline;
  }
}

@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #faf9f6;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
